<!DOCTYPE html>
<html lang="kr">
<head th:replace="~{base/part/header :: header(~{::link})}">
    <link href="/css/post/show.css" rel="stylesheet">
</head>
<body>
<div class="background">
    <div th:replace="~{base/part/navbar :: navbar}"></div>

    <div class="container" id="main">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div style="width:100%" class="panel panel-default">
                <header class="post-header">
                    <p class="post-title" th:text="${question.getTitle()}"></p>
                </header>
                <div class="content-main">
                    <article class="article">
                        <div class="article-header">
                            <div class="article-header-text">
                                <p th:if="${question.isUserWithdrawn()}" class="article-content" th:text = "${question.getUserName()}"></p>
                                <a th:unless="${question.isUserWithdrawn()}" th:href = "@{'/profile/' + ${question.getUserLoginId}}" class="article-content" th:text = "${question.getUserName() + ' • ' + question.getUserLoginId()}"></a>
                                <p class="article-content">
                                    <span th:if="${question.isModified()}" th:text="${question.getCreatedAt()} + ' (수정됨)'"></span>
                                    <span th:unless="${question.isModified()}" th:text="${question.getCreatedAt()}"></span>
                                </p>
                                <p class="article-content">조회 <span th:text = "${question.getViewCnt()}">0</span></p>
                                <a th:if="${question.isMy()}" class="article-content" th:href="'/question/edit/' + ${question.getQuestionId()}">수정</a>
                                <a th:if="${question.isMy()}" class="article-content" th:href="'/question/delete/' + ${question.getQuestionId()}">삭제</a>
                            </div>
                        </div>
                        <div>
                            <p class="article-doc" th:text="${question.getContent()}"></p>
                        </div>
                    </article>

                    <div class="post-comment">
                        <div class="post-comment-slipp">
                            <p class="post-comment-count">댓글 <span th:text="${totalCommentCnt}">0</span>개</p>
                            <div id="comment-list" class="post-comment-slipp-articles">
                                <div class="comment" th:replace="~{base/part/comment :: commentList(${comments})}">
                                </div>

                            </div>
                            <form th:unless="${question.isUserWithdrawn()}" class="submit-write" method="post" action="/comment">
                                <input type="hidden" name="CSRF_TOKEN" th:value="${session.CSRF_TOKEN}">
                                <div class="comment-writer-container">
                                    <label for="questionId">
                                        <input type="hidden" id="questionId" name="questionId" th:value="${question.getQuestionId()}">
                                        <p class="comment-writer" th:text="${session.userCredentials.username}">
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="content">
                                        <textarea class="form-control" id="content" name="content"
                                                  placeholder="내용을 입력하세요" required></textarea>
                                    </label>
                                </div>
                                <button class="post-write-btn" type="submit">등록</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".post-write-btn").click(addAnswer);
    })

    function submitDeleteForm(commentId) {
        document.getElementById('delete-comment-' + commentId).submit();
    }

    function addAnswer(e) {
        console.log('addAnswer called');

        e.preventDefault();

        const formData = {
            CSRF_TOKEN: $(".submit-write input[name=CSRF_TOKEN]").val(),
            questionId: $(".submit-write input[name=questionId]").val(),
            content: $(".submit-write textarea[name=content]").val()
        }

        // ajax - asynchronous javascript and xml : 자바스크립트를 사용해 비동기적으로 서버와 통신하는 기술
        // 웹 페이지를 다시 로드하지 않고도 서버로부터 데이터를 받아오거나 서버에 데이터를 보낼 수 있도록 함
        $.ajax({
            type: 'POST',
            url: '/comment',
            contentType: 'application/x-www-form-urlencoded',
            data: formData,
            dataType: 'json',
            success : function (comment) {
                console.log(comment);
                displayComment(comment);
                $("textarea#content")[0].value = ''
            },
            error : function (jqXHR, textStatus, errorThrown) {
                alert("error: " + jqXHR.status);
                console.log(jqXHR.responseText);
            }
        })
    }

    // 댓글 단건 표시 함수
    function displayComment(comment) {
        // 댓글 수 업데이트
        const commentCount = $('.post-comment-count').find('span');
        commentCount.eq(0).text(parseInt(commentCount.eq(0).text()) + 1);

        // 댓글 추가
        const commentList = document.getElementById('comment-list');
        const div = document.createElement('div');
        div.innerHTML = addComment(comment);
        commentList.appendChild(div);
    }


    // 댓글 HTML 생성 함수
    function addComment(comment) {
        // userWithdrawn 여부에 따라 다른 HTML 생성
        var userInfo;
        if (comment.userWithdrawn) {
            userInfo = `<span>${comment.userName}</span>`;
        } else {
            userInfo = `<a href="/profile/${comment.userLoginId}" class="comment-content comment-author-name">
                        <span>${comment.userName} • ${comment.userLoginId}</span>
                    </a>`;
        }

        return `
    <article class="comment">
        <div class="article-text">
            <!-- 작성자 정보 표시 -->
            ${userInfo}
            <!-- 댓글 내용 표시 -->
            <div class="comment-content">
                <pre class="pre-comment-content">${comment.content}</pre>
            </div>
            <!-- 댓글 작성 시간 표시 -->
            <div class="comment-content comment-doc">
                <p class="comment-content comment-time">
                    <span>${comment.modifiedAt}${comment.modified ? ' (수정됨)' : ''}</span>
                </p>
                <a class="comment-content comment-menu" href="#" onclick="submitDeleteForm(${comment.commentId}); return false;" role="button">삭제</a>
                <form id="delete-comment-${comment.commentId}" style="display: none" method="post" action="/comments/${comment.commentId}">
                    <input type="hidden" name="_method" value="DELETE" />
                    <input type="hidden" name="questionId" value="${comment.questionId}" />
                    <input type="hidden" name="CSRF_TOKEN" value="${sessionStorage.getItem('CSRF_TOKEN')}">
                    <button type="submit" style="display: none">삭제</button>
                </form>
            </div>
        </div>
    </article>`;
    }
</script>
</body>
</html>
